@charset "UTF-8";

@media (min-width: 300px) and (max-width: 1000px){
  
  *{
    margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  }
  
  body{
    background-color: #E8E4E4;
  }
  
  main #emcimared{
    background: red;
    display: flex;
  width: 100vw;
  height: 50px;
  justify-content: space-between;
    
  }
  main div #FastFood{
  font-size: 25px;
  padding-top: 11px;
  color: white;
  margin-left: auto;
  padding-right: 30px;
  
}
  main div #Brasil{
    font-size: 5px;
    padding-top: 29px;
    color: white;
    padding-left: 0px;
  }
  main div #img{
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 20px;
  }
  main div #img img{
    width: 8px;
  }
  
  
  
  
  
  header{
  background: black;
  width: 100vw;
  height: 500px;
  
  }

header #links{
  
  display: flex;
  justify-content: center;
  padding: 0;
  
  
  }
  header #links a{
  text-decoration: none;
  color: white;
  font-size: 5px;
  padding-top: 8px;
  margin: 0 5px;
  padding-right: 10px;
  font-weight: 600;

  
  }
  header #FF{
  color: red;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 30px;
  }

header #texto{
  padding-left: 20px;
  padding-top: 20px;
  font-size: 25px;
  z-index: -1;
  }

header #voce{
  color: red;
  padding-left: 20px;
  font-size: 25px;
  }

header #lorem{
  color: white;
  width: 200px;
  padding-left: 20px;
  padding-top: 15px;
  font-size: 7px;
  }
  header img{
  width: 100vw;
  width: 80px;
}

header div #tempero{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 450px;
  transform: translate(-60px , -280px);
  
}

header div #Pizza{
  
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  transform: translate(-10px , -260px);
  position: relative;

}

header div #Pizza img{
  
  top: 0;
  left: 0;
  width: 100%; /* Para cobrir toda a largura da div */
  height: 100%; /* Para cobrir toda a altura da div */
  z-index: -1; /* Para colocar a imagem atrás da div */
}

header #lorem{
  /* Estilos para o conteúdo dentro da div */
  position: relative; /* Para garantir que o conteúdo fique empilhado acima da imagem */
  z-index: 1; /* Para garantir que o conteúdo fique acima da imagem */
}

header h1{
  color: white;
}

header #menu{
  padding-top: 40px;
  padding-left: 0px;
}

header #menu a{
  text-decoration: none;
  color: white;
  padding: 10px 30px 10px 30px;
  width: 50px;
  border-radius: 10px;
  font-size: 13px;
  margin-left: 10px;
  
}

header #menu #red{
  background: red;
}

header #menu #borda{
  border: 2px solid white;
}








#RetanguloBranco{
  width: 350px;
  height: 120px;
  background: white;
  margin: auto;
  margin-bottom: 30px;
  transform: translate(0px , -60px);
  border-radius: 20px;
  display: flex;
}
#RetanguloBranco .principal{
  margin: auto;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 20px;
  
}

#RetanguloBranco #Salada1{
  background: url('Salada1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
#RetanguloBranco #Pizza1{
  background: url('Pizza1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#RetanguloBranco #Hamburguer1{
  background: url('Hambúrguer1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.frase1{
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 40px;
  padding-top: 40px;
  
}

.frase1 span{
  color: red;
  font-weight: 900;
}


.RetanguloVermelho1{
  width: 380px;
  height: 150px;
  background: red;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
}
.RetanguloVermelho1 #Salada2{
   background:
   url("Pedidos/hamburguer-grelhado-e-batatas-fritas-ia-geradora-de-alimentos_188544-8516.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }
 .RetanguloVermelho1 #Pizza1{
   background:
   url("Pedidos/deliciosos-croquetes-de-comida-de-perto_23-2149202667.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }
 .RetanguloVermelho1 #Hamburguer1{
   background:
   url("Pedidos/deliciosa-composicao-em-palitos-de-queijo-venezuelano_23-2149050108.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;
 }
 
 .RetanguloVermelho1 #Salada1{
   background:
   url("Pedidos/vista-frontal-deliciosa-composicao-da-comida-brasileira_23-2148739224.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center right;
 }
 .RetanguloVermelho1 #Pizza2{
   background:
   url("Hambúrguer1.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }
 .RetanguloVermelho1 #Hamburguer2{
   background:
   url("Pedidos/vista-superior-saborosas-asas-de-frango-dentro-do-prato-na-superficie-marrom-hamburguer-refeicao-almoco-sanduiche-comida-jantar-batatas-fritas-carne_140725-156891.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;
 }

.RetanguloVermelho1 .principal{
  margin: auto;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 20px;
  
}




.area{
  background: red;
  max-width: 100vw;
  min-width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

#area{
  display: flex;
  justify-content: center;
  align-items: start;
}

.conteudo{
  width: 95vw;
  border-radius: 30px;
  margin-top: 10px;
  
  
}

.carrosel{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  border: 5px solid white;
  border-radius: 34px;
  padding: 5px 5px 5px 5px;
  min-width: 370px;
  max-width: 800px;
  margin-left: 10px;
  margin: auto;
  background: black;
  
  
}

.carrosel::-webkit-scrollbar{
  display: none;
}

.card{
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 120px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  border: .5px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: px
  
}
#card1 img{
  width: 10px;
}
#card1{
  
  
}
#card1 img{
  border-radius: 30px;
  width: 430px;
  padding: 20px;
  
  
}

#card2 img{
  border-radius: 0px;
  width: 430px;
  padding: 20px;
}

#card3 img{
  border-radius: 0px;
  width: 400px;
  padding: 20px;
}

#card4 img{
  border-radius: 30px;
  width: 430px;
  padding: 30px;
}

.card:nth-child(odd){
  background: linear-gradient(-229deg, white, grey);
  background: url("Hambúrguer1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  
}

.card:nth-child(even) {
  background: linear-gradient(-229deg, grey, white);
  background:
  url("Pedidos/vista-frontal-deliciosa-composicao-da-comida-brasileira_23-2148739224.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}







#RetanguloClientes{
  width: 100vw;
  height: 200px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  max-width: 500px;
  
}

#RetanguloClientes .principal{
  margin: auto;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 20px;
  
  
}

#RetanguloClientes .principal .imgCliente{
  
  display: flex;
  justify-content: center;
  align-content: start;
}
#RetanguloClientes .principal .imgCliente img{
  
  width: 30px;
  margin-top: 5px;
}

#RetanguloClientes .principal .opniao{
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
  font-weight: 600;
}

#RetanguloClientes .principal .ftsdosclientes{
  width: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 40%;
  margin-top: 10px;
  margin-left: 5px;
}

#RetanguloClientes .principal .nomeCliente{
  
  display: flex;
  justify-content: start;
  align-items: center;
  
}

#RetanguloClientes .principal .nomeCliente p{
  margin-left: 3px;
  font-size: 10px;
  font-weight: 500;
}

#RetanguloClientes .principal .nomeCliente .estrela{
  width: 15px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

#RetanguloClientes .principal .nomeCliente .estrela img{
  
  width: 10px;
}







#Feedback{
  background: black;
  display: flex;
  height: 300px;
  
}

#Feedback #inicio{
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  margin: auto;
}

#Feedback #inicio h1{
  color: red;
  font-size: 30px;
}
#Feedback #inicio p{
  text-align: center;
  width: 100px;
  margin-top: 10px;
  font-size: 10px;
}

#Feedback .Contatos{
  color: white;
  text-align: center;
  width: 80px;
  margin-top: 60px;
  margin-left: 10px;
  
}

#Feedback .Contatos p{
  font-size: 13px;
  font-weight: 600;
}

#Feedback .Contatos a{
  font-size: 5px;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10px;
}

#Feedback #Contatos{
  margin-right: 30px;
  width: 100px;
  margin-top: 60px;
  margin: ato;
  color: white;
  
}
#Feedback #Contatos h1{
  font-size: 13px;
  width: 100px;
  text-align: center;
  
}

#Feedback #Contatos p{
  font-size: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: 400;
}

#Feedback #final{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  
  
}

#Feedback #final2{
  width: 90vw;
  display: flex;
  margin: auto;
  max-width: 600px;
  
}

  
  
  
  
  
  
  
  
  
  
  
  
}